 body {
   margin: 0;
   font-family: 'Kanit', sans-serif;
   overflow: hidden;
 }

 .viewer-container {
   position: relative;
   width: 100%;
   height: 100vh;
 }

 model-viewer {
   width: 100%;
   height: 100vh;
   background-image: url('images/background-ar/g1.jpg');
   background-size: cover;
   background-position: center;
 }


 /* ชื่อด้านบน */
 .title {
   font-size: 45px;
   position: absolute;
   top: 14px;
   left: 50%;
   transform: translateX(-50%);
   background: rgba(255, 255, 255, 0.6);
   padding: 8px 16px;
   border-radius: 12px;
   color: #2e7d32;
   font-weight: 600;
   z-index: 2000;
 }

 /* 📱 ซ่อนปุ่มเมื่อเปิดบนมือถือ */
 @media (max-width: 768px) {
   model-viewer {
     background-image: url("images/background-ar/mb-img.jpg");
     /* ← เปลี่ยนเป็นไฟล์ของมือถือ */
     background-size: cover;
     background-position: center;
   }

   .title {
     font-size: 23px;
   }

   .ar-btn {
     padding: 9px 18px;
     font-size: 11px;
   }

 }
