 body {
   margin: 0;
   font-family: 'Kanit', sans-serif;
   overflow: hidden;
 }

 .viewer-container {
   position: relative;
   width: 100%;
   height: 100vh;
 }

 model-viewer {
   width: 100%;
   height: 100%;
   background-color: #d0ffcca1;
 }

 /* ชื่อด้านบน */
/* Title */
.title {
  font-size: 45px;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
  border-radius: 12px;
  color: #2e7d32;
  font-weight: 600;
  z-index: 2000;
}

 /* ==============================
   🔹 AR Button Styling
   ============================== */
.ar-btn {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 30;
}

.ar-btn:hover {
  background: #388e3c;
  transform: translateX(-50%) translateY(-2px);
}

/* 📱 ซ่อนปุ่มเมื่อเปิดบนมือถือ */
@media (max-width: 768px) {
  .title {
  font-size: 25px;
}
.ar-btn{
  padding: 9px 18px;
  font-size: 11px;
}

}


